# Домашнее задание к лекции "Библиотека pandas"

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [14]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
# составляем словарь { фильм : количество оценок 5 }
result = { movie : len(ratings[(ratings.movieId == movie) & (ratings.rating == 5.0)]) for movie in ratings.movieId.unique()}
# получаем id фильма с максимальным количеством оценок
sorted(result.items(), key = lambda kv : kv[1])[-1][0]

318

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [56]:
power = pd.read_csv('power.csv')
baltic = ['Lithuania', 'Latvia', 'Estonia']
categories = [4, 12, 21]
sum(power[(power.country.isin(baltic)) & (power.category.isin(categories)) & (power.quantity >= 0.0) \
      & (power.year >= 2005) & (power.year < 2010)]['quantity'])

201719.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [91]:
table = pd.read_html('https://fortrader.org/quotes', match='Цены')
df = table[0]
df.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,55.29,0.03,0.05,NaN
1,Нефть WTI Цены на нефть WTI,52.47,0.05,0.10,NaN
2,Природный газ Цена на природный газ,2.66,-0.02,-0.71,NaN
3,Кофе,124.15,-1.95,-1.55,NaN
4,Кукуруза,536.20,3.00,0.56,NaN